# Packages to test
abexp
owl_ab_test

# owl-ab-test  # Will check availability
# py-ab-testing  # Will check availability

# Core dependencies
numpy
pandas
scipy

# Optional: for visualization and reporting
matplotlib

# webapp
flask
